.quote-hold{
  background-color:white;
  position: fixed;
  height: 150px;
  width: 600px;
  margin: -75px 0 0 -300px;
  top: 50%;
  left: 50%;
  border-radius: 7px;
}

.wholePg{
  background-color:blue;
}

.quotes{
  max-height: 30px;
}

.btn{
  background-color: blue;
  border: black;
  font-size: 75%;
  display: inline-block;
  margin-bottom: 10px;
  float:right;
  margin-top: 10px;
}
